<!-- En tu archivo DetalleSolicitudComponent.html -->
<div class="dialog-content-container">
  <!-- Todo el contenido del modal va aquí -->

  <mat-card class="detalle-solicitud-card">
    <div class="solicitud-content">
      <mat-card-header>
        <mat-card-title>Detalle de la Solicitud</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Fecha de Retiro:</strong> {{ solicitud?.fecha_entrega | date:'fullDate' }}</p>
        <p><strong>Fecha de Regreso:</strong> {{ solicitud?.fecha_regreso | date:'fullDate' }}</p>
        <p><strong>Hora de Inicio:</strong> {{ solicitud?.hora_inicio }}</p>
        <p><strong>Hora de Término:</strong> {{ solicitud?.hora_termino }}</p>
        <p><strong>Sección:</strong> {{ solicitud?.seccion }}</p>
        <p><strong>Nombre del Solicitante:</strong> {{ solicitud?.nombre_solicitante }}</p>
        <p><strong>Correo del Solicitante:</strong> {{ solicitud?.correo_solicitante }}</p>
        <p><strong>Estado de la Solicitud:</strong> {{ solicitud?.estadosolicitud?.nombre_estado }}</p>
      </mat-card-content>
    </div>
    <mat-card-header>
      <mat-card-title>Productos de la Solicitud</mat-card-title>
    </mat-card-header>
    <div class="productos-content">
      <mat-card *ngFor="let item of productos" class="producto-card">
        <div class="producto-card-content">
          <div class="producto-info">
            <mat-card-header>
              <mat-card-title>{{ item.solicitud_producto.producto.nombre }}</mat-card-title>
              <mat-card-subtitle>{{ item.solicitud_producto.producto.marca }} - {{
                item.solicitud_producto.producto.modelo
                }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Cantidad: {{ item.cantidad }}</p>
              <p>Observación: {{ item.solicitud_producto.observacion }}</p>
              <!-- ... resto de los detalles del producto ... -->
            </mat-card-content>
          </div>
          <div class="producto-imagen">
            <img [src]="item.solicitud_producto.producto.imagenUrl" alt="{{ item.solicitud_producto.producto.nombre }}">
          </div>
        </div>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
    </mat-card-actions>
  </mat-card>
</div>