<div class="dialog-content-container">
  <h2>Editar Lugar</h2>

  <form [formGroup]="editLugarForm" (ngSubmit)="onSubmit()" class="modal-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre del Lugar</mat-label>
      <input matInput formControlName="nombre_lugar" />
    </mat-form-field>

    <div class="modal-actions">
      <button mat-raised-button class="button-custom" type="submit">
        Actualizar
      </button>
      <button
        mat-raised-button
        class="button-cancel"
        type="button"
        (click)="onCancel()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
