<mat-sidenav-container class="sidenav-container">
  <!-- Menú lateral -->
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
  >
    <mat-toolbar color="accent">
      <span class="toolbar-title">Panel de Control Inventario</span>
    </mat-toolbar>
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="onSelection($event)"
    >
      <mat-list-option *ngFor="let item of listaMenu" [value]="item">
        {{ item.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-toolbar">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="menu-button"
        *ngIf="isMobile"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>

    <mat-card class="content-card">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
