<div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <div><p>CARGANDO</p></div>
</div>

<div *ngIf="!loading" class="dialog-content-container">
    <!-- Todo el contenido del modal va aquí -->
    <h2>Editar Estado de la Solicitud</h2>
    <form [formGroup]="form" (ngSubmit)="cambiarEstado()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Estado de la Solicitud</mat-label>
            <mat-select formControlName="estado">
                <mat-option *ngFor="let estado of estados" [value]="estado.id_estado_solicitud">
                    {{ estado.nombre_estado }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['estado'].hasError('required')">
                Debe seleccionar un estado
            </mat-error>
        </mat-form-field>
        <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Actualizar Estado</button>
        </div>
    </form>
</div>