<div class="filter-bar">
  <mat-form-field appearance="fill" class="filter-input">
    <mat-label>Buscar producto</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      (ngModelChange)="filtrarProductos()"
      placeholder="Nombre, modelo o marca"
    />
  </mat-form-field>
</div>

<div class="products-container">
  <article class="product" *ngFor="let product of productosPaginados">
    <div class="product-header">
      <h3 class="product-title">{{ product.producto["nombre"] }}</h3>
      <img
        class="product-image"
        [src]="product.producto['imagenUrl']"
        alt="{{ product.producto['nombre'] }}"
      />
      <p class="product-model">
        Modelo|Marca: {{ product.producto["modelo"] || product.producto["marca"] }}
      </p>
      <p class="product-stock">Stock disponible: {{ product.stock }}</p>
    </div>
    <div class="product-body">
      <p>{{ product.producto["descripcion"] }}</p>
    </div>
    <div class="product-footer">
      <button
        mat-raised-button
        class="button-custom"
        [disabled]="
          (productosSinStock$ | async)?.includes(product.producto.id_producto)
        "
        (click)="addToCart(product)"
      >
        Agregar Producto
      </button>
    </div>
  </article>
</div>

<!-- Paginación -->
<div class="pagination">
  <button
    mat-icon-button
    (click)="anteriorPagina()"
    [disabled]="paginaActual === 1"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>
  <button
    mat-icon-button
    (click)="siguientePagina()"
    [disabled]="paginaActual === totalPaginas"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
