<!-- En tu archivo DetalleSolicitudComponent.html -->
<div class="dialog-content-container">
  <!-- Todo el contenido del modal va aquí -->
  <!-- edit-product-modal.component.html -->
  <h2>Editar Producto</h2>
  <form [formGroup]="editProductForm" (ngSubmit)="updateProduct()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="modelo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Stock_critico</mat-label>
      <input matInput formControlName="stock_critico" type="number" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripcion</mat-label>
      <input matInput formControlName="descripcion" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Observaciones</mat-label>
      <input matInput formControlName="observaciones" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fungible</mat-label>
      <mat-select formControlName="fungible">
        <mat-option [value]="true">Sí</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="example-full-width"
      appearance="fill"
    >
      <mat-label>Subir archivo</mat-label>
      <input
        matInput
        [value]="selectedFile?.name"
        placeholder="Selecciona un archivo..."
        readonly
      />
      <button
        mat-icon-button
        matSuffix
        (click)="fileInput.click()"
        tabindex="-1"
      >
        <mat-icon>folder_open</mat-icon>
      </button>
    </mat-form-field>
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
    />

    <div class="actions">
      <button mat-raised-button color="primary" type="submit">
        Actualizar
      </button>
      <button mat-raised-button color="warn" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>
