mat-dialog-content {
    padding: 20px;
    /* Margen interior para el contenido del modal */
}

mat-form-field {
    width: 100%;
    /* Los campos de formulario ocupan todo el ancho */
    margin-bottom: 16px;
    /* Espaciado entre campos de formulario */
}

.submit-button {
    margin-top: 20px;
    /* Espacio por encima del botón de envío */
    width: 100%;
    /* El botón de envío ocupa todo el ancho */
}

/* En tu archivo de estilos del componente DetalleSolicitudComponent */
.dialog-content-container {
    max-height: 90vh;
    /* O el porcentaje que prefieras */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}