.dialog-content-container {
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título centrado y con tipografía */
h2 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #212121;
  margin-bottom: 1.5rem;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Ajustes para los mat-form-field */
mat-form-field {
  width: 100%;
}

/* Estilo del botón para subir archivo */
mat-form-field .mat-icon-button {
  background-color: #ffb800;
  color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

mat-form-field .mat-icon-button:hover {
  background-color: #ffcc4d;
  transform: scale(1.1);
}

/* Estilos para el botón Guardar */
button {
  padding: 0.8rem 1.5rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

/* Estilos para botones en formato DUOC */
button.custom[color="primary"] {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.button-custom:hover {
  background-color: #ffb800!important;
  color: white!important;
}

/* Botón al final del formulario */
.button-custom {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc;
  padding: 8px 24px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.dialog-scrollable {
  max-height: 90vh;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
}

.modal-title {
  text-align: center;
  margin-bottom: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
