mat-card {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

mat-card-title {
    font-size: 24px;
    font-weight: bold;
}

mat-tab-group {
    margin-top: 20px;
    height: auto;
    width: 100%;
}

mat-form-field {
    width: 95%;
    margin-top: 20px;
}

.login-form{
    padding: 30px;
}

.user .pass{
    width: 90%;
    margin-top: 20px;
}

.log-in{
    background-color: #ffffff !important; 
    border: #FFB800 !important;
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px; /* Tamaño interno */
    font-size: 16px; /* Tamaño de texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: all 0.3s ease; /* Animación */
}

.log-in:hover{
    background-color: #FFB800 !important;
}

.custom-button-div {
    padding: 5%;
    /* Agrega el espacio deseado en los bordes internos del div */
    margin: 5% 0;
    /* Agrega el espacio deseado en los bordes externos del div */
}


button {
    margin-top: 20px;
    width: 100%;
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px #ddd;
    border-radius: 5px;
}

.btn-google:hover {
  
    background-color: #C23B33;
    border-color: #C23B33;
    color: #ffffff;
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.error-message {
    color: #a94442;               /* Texto en color rojo oscuro */
    background-color: #f2dede;    /* Fondo rojo muy claro */
    border: 1px solid #ebccd1;    /* Borde rojo claro */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-weight: bold;
  }