<nav class="navbar">
  <div class="navbar-logo">
    <div>
      <mat-card-content>
        <button mat-raised-button class="button-custom" (click)="atras()">
          Volver Atrás
        </button>
      </mat-card-content>
    </div>
  </div>

  <div class="navbar-title">Stockduoc</div>

<button
  class="navbar-cart-button"
  *ngIf="myCart$ | async as cart"
  [class.has-items]="cart.length > 0"
  (click)="onToggleCart()"
>
  <!-- Contador como badge -->
  <span class="navbar-cart-badge" *ngIf="cart.length > 0">
    {{ cart.length }}
  </span>

  <!-- Texto e ícono -->
  <span class="navbar-cart-text">Completa tu Solicitud</span>
  <i class="fa-solid fa-cart-shopping"></i>
</button>
</nav>

<div class="cart" [ngClass]="{ show: viewCart }">
  <app-carrito></app-carrito>
</div>

