<div class="container">
  <div class="table-header">
    <h2>Listado de Productos</h2>
    <button
      mat-raised-button
      class="agregar-producto-btn"
      color="accent"
      (click)="abrirModalAgregarProducto()"
    >
      Agregar Producto
    </button>
    <button
      mat-raised-button
      style="margin-left: 10px"
      color="primary"
      (click)="abrirModalImportarExcel()"
    >
      <mat-icon>cloud_upload</mat-icon>
      Importar desde Excel
    </button>

    <button
      mat-raised-button
      style="margin-left: 10px"
      color="warn"
      (click)="exportarTablaExcel()"
    >
      <mat-icon>file_download</mat-icon>
      Exportar a Excel
    </button>
  </div>

  <!-- Filtros -->
  <div class="filtros-container">
    <mat-form-field>
      <mat-label>Buscar por palabra clave</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event, 'keyword')"
        placeholder="Nombre, marca, modelo o descripción"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Filtrar por Stock Crítico</mat-label>
      <input
        matInput
        type="number"
        (keyup)="applyFilter($event, 'stock_critico')"
        placeholder="Stock Crítico"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Filtrar por Stock Actual</mat-label>
      <input
        matInput
        type="number"
        (keyup)="applyFilter($event, 'stock_actual')"
        placeholder="Stock Actual"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fungible</mat-label>
      <mat-select (selectionChange)="applyFilter($event, 'fungible')">
        <mat-option [value]="'all'">Todos</mat-option>
        <mat-option [value]="'true'">Sí</mat-option>
        <mat-option [value]="'false'">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-table
      [dataSource]="productosFiltrados"
      class="mat-elevation-z8 mi-tabla"
    >
      <!-- Columna: Nombre del Producto -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{ producto.nombre }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="marca_modelo">
        <mat-header-cell *matHeaderCellDef> Marca | Modelo </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{ producto.marca }} | {{ producto.modelo }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stock_critico">
        <mat-header-cell *matHeaderCellDef> Stock Crítico </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{ producto.stock_critico }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stock_actual">
        <mat-header-cell *matHeaderCellDef> Stock Actual </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{ producto.stock_actual }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{ producto.descripcion }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <mat-header-cell *matHeaderCellDef> Observaciones </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{ producto.observaciones }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fungible">
        <mat-header-cell *matHeaderCellDef> Fungible </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{ producto.fungible ? "Sí" : "No" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="imagen">
        <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
        <mat-cell *matCellDef="let producto" class="imagen-container">
          <!-- Solo renderiza la etiqueta <img> si existe URL -->
          <ng-container *ngIf="producto.imagenUrl; else emptyImagen">
            <img
              mat-card-image
              [src]="producto.imagenUrl"
              alt="{{ producto.nombre }}"
              (error)="hideBrokenImage($event)"
              class="product-image"
            />
          </ng-container>
          <!-- Template vacío para dejar la celda en blanco -->
          <ng-template #emptyImagen></ng-template>
        </mat-cell>
      </ng-container>

      <!-- Columna para Acciones CRUD -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let producto" class="acciones-container">
          <button
            mat-raised-button
            class="btn-acciones"
            (click)="abrirModalDetalle(producto)"
          >
            Detalle
          </button>
          <button
            mat-raised-button
            class="btn-acciones"
            (click)="abrirModalEditarProducto(producto.id_producto)"
          >
            Editar
          </button>
          <button
            mat-raised-button
            class="btn-acciones"
            (click)="onDeleteProducto(producto.id_producto)"
          >
            Eliminar
          </button>
          <button
            mat-raised-button
            class="btn-acciones"
            (click)="abrirModalAgregarStockByproducto(producto.id_producto)"
          >
            Agregar Stock
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnasMostradas"></mat-row>
    </mat-table>
  </div>
</div>
