.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Ocupar todo el espacio vertical */
}

.acciones-container {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacio entre botones */
    padding: 10px;
  }

.accion-btn {
    width: 75%; /* Asegura que todos los botones tengan el mismo ancho */
  }

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mi-tabla {
    width: 100%;
    margin-bottom: 5%;
    overflow-x: auto;
    /* Asegúrate de que la tabla sea desplazable horizontalmente */
}

.agregar-producto-btn {
    background-color: #4CAF50;
    /* Un verde más estandarizado */
    color: white;
}

.action-buttons button {
    margin-right: 8px;
    /* Espacio entre botones */
}

/* Para hacer la tabla responsive */
@media (max-width: 600px) {
    .mi-tabla {
        overflow-x: auto;
    }
}

.imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-image {
    max-width: 250px; /* Ajusta el tamaño máximo de la imagen */
    max-height: 250px;
    object-fit: contain; /* Asegura que la imagen se vea completa sin recortarse */
  }